@page "/"
@using Radzen.Blazor;
@inject DialogService DialogService

<h1>Hello, auction drafters and That.us!</h1>

<RadzenDialog />
<RadzenButton Text="Start New Draft" Click=@StartNewDraft />

Welcome to the Blazor Auction Drafting App!

<p hidden=true><SurveyPrompt Title="How is Blazor working for you?" /></p>

@code
{
    Guid draftID = Guid.NewGuid();
    
    public async Task StartNewDraft()
    {
        await DialogService.OpenAsync<NewDraft>($"New Draft",
               new Dictionary<string, object>() { { "DraftID", draftID } },
               new DialogOptions() { Width = "700px", Height = "530px" });
    }

}