@page "/"
@using Radzen;
@inject DialogService DialogService

<h1>Hello, auction drafters!</h1>

<RadzenButton Text="Start New Draft" Click=@StartNewDraft />


    <div>
        <h3>Radzen stuff</h3>
        <RadzenDialog/>
        <RadzenNotification/>
        <RadzenContextMenu/>
        <RadzenTooltip/>
    </div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    int draftID = 0;
    
    public async Task StartNewDraft()
    {
        await DialogService.OpenAsync<NewDraft>($"Draft {draftID}",
               new Dictionary<string, object>() { { "DraftID", draftID } },
               new DialogOptions() { Width = "700px", Height = "530px" });
    }

}