@page "/livedraft"
@using Radzen.Blazor;

<!-- This layout will contain three data grids: 
    * A list of the current players, 
    * A list of the owners, their teams, their current players, and their remaining auction budget 
    * A log of every auction pick taken so far along with the highest bid, winner, and other stats
    -->

    <h1>TODO: Live Draft</h1>
    <h3>Draft ID: @draftID</h3>
    <h3>Default Draft Owners: @draftPositionDefaults </h3>
    <h3>Default Draft Players: @draftPlayerDefaults </h3>
    <h3>Auction Budget: @auctionBudget </h3>