@page "/newdraft"

<h1>New Draft</h1>

<h3>Draft ID: @draftID</h3>
<h3>Number of Owners</h3>
<RadzenNumeric TValue="int" Change=@(args => OnChange(args, "intOwners")) />
<h3>Auction Budget</h3>    
<RadzenNumeric TValue="int" Change=@(args => OnChange(args, "intBudget")) />
<p>Current count: @playerCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int? value;
    private int playerCount = 0;

    [Parameter] public int draftID { get; set; }

    private void IncrementCount()
    {
        playerCount++;
    }

    void OnChange(dynamic value, string name)
    {
        System.Diagnostics.Debug.WriteLine($"{name} changed to {value}");
    }
}